/* @import "normalize.css"; 
@import "reset-local.css";
@import "typography.css"; */

#menu{
background: url(../imgs/sky.jpg) no-repeat;
padding-bottom: 0.3rem;
}

#toolBar{
    width: 7rem;
    margin: 0 auto;
    
}


#optionsPage{
    width: 12rem;
    margin: 0 auto;
    margin-top: 1rem;
}

#submit{
    display: block;
}

body {
    background: rgb(216, 215, 215);
    margin: 0px 0px;
}

fieldset {
    padding: 0.3rem;
    margin: 0 2rem;

}
.option{
    margin-top: 0.4rem;
}
h1 {
    height: 50px;
    width: 100%;
    object-fit: fill;
    margin-top: 0px;
    padding-top: 15px;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 120px;
}

form {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

legend {
    display: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#resetBtn {
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 0.3rem;
}

#submit, #nextBtn {
    margin: 0 auto;
    width: 100px;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

#submit {
    margin-top: 0.7rem;
}
#resetBtn {
    display: block;
    margin: 1rem auto;
    margin-bottom: 0.5rem;
}
p#final {
    height: 20px;
    margin: 0.6rem;
}

p#copyRight {
    margin-top: 2rem;
}
#rights{
    width: 10rem;
    margin: 0 auto;
}
#scoreBox{
    margin: 0.5rem 2rem;
}

.scoreBoard {
    display: inline;
}

p#final{
    padding-bottom: 1.5rem;
}

.activePlayer {
    color: green;
}

.green {
    color: green;
}

.red {
    color: red;
}

button {
    background-color: buttonface;
    color: buttontext;
    border-width: 2px;
    padding: 1px 6px;
    cursor: default;
}
.invisible{

    display: none;
}

#choice1, #choice2, #choice3{
    margin-top: 1rem;
}
.bold{
    font-weight: bold;
}

#nextBtn{
    margin-left: 120px;
}
.visible{
    display: block;
}

@media only screen and (min-width: 720px) {
    fieldset{
        margin: 0 7rem;
    }
} 
    
    
    
    
    


@media only screen and (min-width: 750px) {
    h1 {
        height: 70px;
    }
    button {
        width: 170px;
    }
    #submit, #nextBtn, #resetBtn  {
        width: 170px;
    }
    fieldset {
        height: 280px;
    }
   
    
}

@media only screen and (min-width: 950px) {
    #submit, #nextBtn, #resetBtn {
        width: 170px;
    }
    #nextBtn {
        margin: 1rem auto;
    }
   
}

@media only screen and (min-width: 1000px) {
    #scorePanel {
        margin: 1rem;
    }
    /* #rightScore, #leftScore {
        margin: 2rem;
    } */
    #resetBtn {
        margin: 10px auto;
    }
    img {
        max-height: 300px;
    }
    fieldset {
        margin: 0 5rem;

    }
    h1 {
        padding-top: 0.8rem;
        height: 120px;
        font-size: 2.5rem;
    }
  
}

@media only screen and (min-width: 1300px) {
    fieldset {
        margin: 0 20rem;
        max-height: 210px;
    }
}

@media only screen and (min-width: 1700px) {
    fieldset {
        margin: 0 35rem;
        border-width: 0.1rem;
    }
    legend{
        display: block;
    }
    h1 {
        height: 90px;
        padding-top: 20px;
    }
    #scoreBox{
        margin: 0.5rem 35rem;
    }
    /* #rightScore, #leftScore {
        margin: 2rem;
    } */
    
}