/* @import "normalize.css"; 
@import "reset-local.css";
@import "typography.css"; */

.invisible{
visibility: hidden;
}

body {
    background: rgb(216, 215, 215);
    margin: 0px 0px;
}

fieldset {
    border-width: 0.1rem;
    padding: 0.3rem;
    margin: 0 2rem;

}
.option{
    margin-top: 0.4rem;
}
h1 {
    background: url(../imgs/sky.jpg) no-repeat;
    height: 70px;
    width: 100%;
    object-fit: fill;
    margin-top: 0px;
    padding-top: 15px;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 120px;
}

form {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

legend {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#resetBtn {
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 0.3rem;
}

#submit, #nextBtn {
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

#submit {
    margin-top: 0.7rem;
}
#resetBtn {
    display: block;
    margin: 1rem auto;
    margin-bottom: 0.5rem;
}
p#answer {
    height: 20px;
    margin: 1rem;
}

p#copyRight {
    margin-top: 3rem;
}

.scoreBoard {
    display: inline;
}



.activePlayer {
    color: green;
}

.green {
    color: green;
}

.red {
    color: red;
}

button {
    background-color: buttonface;
    color: buttontext;
    border-width: 2px;
    padding: 1px 6px;
    cursor: default;
}

@media only screen and (min-width: 720px) {
fieldset{
    margin: 0 7rem;
}
}

@media only screen and (min-width: 750px) {
    h1 {
        height: 90px;
    }
    button {
        width: 170px;
    }
    #submit, #nextBtn, #resetBtn  {
        width: 170px;
    }
    fieldset {
        height: 280px;
    }
    p#copyRight {
        margin-top: 6rem;
    }
    
}

@media only screen and (min-width: 950px) {
    #submit, #nextBtn, #resetBtn {
        width: 170px;
    }
    #nextBtn {
        margin: 1rem auto;
    }
    p#copyRight {
        margin-top: 12rem;
    }
}

@media only screen and (min-width: 1000px) {
    #scorePanel {
        margin: 1rem;
    }
    /* #rightScore, #leftScore {
        margin: 2rem;
    } */
    #resetBtn {
        margin: 10px auto;
    }
    img {
        max-height: 300px;
    }
    fieldset {
        margin: 0 5rem;

    }
    h1 {
        padding-top: 0.8rem;
        height: 150px;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1300px) {
    fieldset {
        margin: 0 20rem;
        max-height: 210px;
    }
}

@media only screen and (min-width: 1700px) {
    fieldset {
        margin: 0 35rem;
    }
    h1 {
        height: 110px;
        padding-top: 20px;
    }
    /* #rightScore, #leftScore {
        margin: 2rem;
    } */
}