/* @import "normalize.css"; 
@import "reset-local.css";
@import "typography.css"; */


body {
    background: rgb(216, 215, 215);
    margin: 0px 0px;
   
}

h1 {
    background: url(../imgs/sky.jpg)  no-repeat;   
    height: 70px;
    width:100%;
    object-fit: fill;
    margin-top: 0px;
    padding-top: 15px;
}
 img {
    display: block;    
    margin: 0 auto;
    max-height: 120px;
}

@media only screen and (min-width: 1300px) {
    fieldset{
        margin: 0 20rem;
    }

}

@media only screen and (min-width: 1700px) {
    fieldset{
        margin: 0 24rem;
    }
    h1{
        padding-top: 25px;
    }
   

}

form {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

legend {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#submit, #nextBtn ,#resetBtn{
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 0.3rem;
    margin-bottom: 0.7rem;
}
#submit{
    margin-top: 0.7rem;
}
p#answer {
    height: 20px;
    margin: 1rem;
}
p#copyRight {
    margin-top: 3rem;
} 


.scoreBoard{
    display: inline;
    margin: 0.5rem;
    padding: 0.2rem;
}
#scorePanel{
    /* background: greenyellow; */
    padding: 0.5rem;
}

.activePlayer{
    color: green;
}

#resetBtn{
    display: block;
    margin: 0.5rem auto;
    margin-bottom: 1rem;
}

fieldset{
    border-width: 0.1rem; 
    padding: 0.3rem; 
    margin: default;
    height: 140px;
}
button{
    background-color: buttonface;
    color: buttontext;
    border-width: 2px;
    padding: 1px 6px;
    cursor: default;
}

@media only screen and (min-width: 750px) {
    h1{
        height: 90px;
    }
    button{
        width: 170px;
    }
    #submit, #nextBtn{
        width: 170px;  
    }
    fieldset{
    height: 180px;
    }
    p#copyRight {
        margin-top: 6rem;
    } 
}

@media only screen and (min-width: 950px) {
    
    #submit, #nextBtn, #resetBtn{
        width: 170px;  
    }
    #nextBtn{
        margin: 1rem auto;
    }
    p#copyRight {
        margin-top: 12rem;
    } 
}